.container:not(:last-child) {
  border-bottom: thin solid var(--color-feature-light);
}

.coverImageContainer {
  min-width: 70px;
  width: 70px;
  height: 52px;
}

.coverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
