@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  --bg-color: white;
  --text-color: black;
  --text-size: 1em;
  --font-family: 'Merriweather', serif;
}

.DraftEditor-root {
  width: 100%;
}
