.container {
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-font);
}

.content {
  flex-grow: 1;
}

@media only screen and (min-width: 768px) {
  .content {
    max-width: 740px;
  }
}

@media only screen and (min-width: 992px) {
  .content {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1350px) {
  .content {
    max-width: 1160px;
  }
}
