.container {
  display: flex;
  flex-direction: column;
}

/* Alignment */

.left {
  align-items: flex-start;
}

.center {
  align-items: center;
}

.right {
  align-items: flex-end;
}

.justified {
  align-items: stretch;
}

/* Padding */

.normal:not(:first-child) {
  margin-top: 12px;
}

.small:not(:first-child) {
  margin-top: 6px;
}

.none:not(:first-child) {
  margin-top: 0px;
}
