.modalContainer {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms linear, visibility 250ms linear;
  will-change: opacity, visibility;
}

.showModal {
  composes: modalContainer;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms linear, visibility 250ms linear;
  will-change: opacity, visibility;
}

.modalContent {
  background-color: #fcfcfc;
  padding: 20px;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  -webkit-transform: translateY(-15vh);
  transform: translateY(-15vh);
  transition: transform 250ms ease-in;
  will-change: transform;
}

.slideInModalContent {
  composes: modalContent;
  -webkit-transform: translateY(15vh);
  transform: translateY(15vh);
  transition: transform 250ms ease-out;
  will-change: transform;
}

.close {
  font-family: Avenir Next, Avenir, Geneva, sans-serif;
  float: right;
  font-weight: bold;
}

.closeButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
