.container {
  display: flex;
  padding: 0.25rem;
  border-top: thin solid;
}

.container:last-child {
  border-bottom: thin solid;
}

@media (min-width: 415px) {
  .container {
    border: thin solid;
    border-radius: 0.5rem;
  }
}

.storyTitleLink {
  cursor: pointer;
}

.coverImage {
  position: relative;
  float: left;
  max-width: 100px;
  max-height: 100px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.storyInfoText {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  margin: 0.25em;
}

.toolTip {
  position: relative;
  display: inline-block;
}

.toolTip .toolTipText {
  visibility: hidden;
  width: 30vw;
  top: 100%;
  left: 50%;
  margin-left: -15vw;
  background-color: #fcfcfc;
  color: #090909;
  text-align: center;
  padding: 1em;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.toolTip:hover .toolTipText {
  visibility: visible;
}
