.root {
  padding: 15px 0;
  display: flex;
}

.editor {
  flex-grow: 1;
  border: 1px solid var(--color-feature-border);
  cursor: text;
  min-height: 80px;
  padding: 10px;
  overflow-y: auto;
}

.toolbar {
  display: flex;
  flex-direction: column;
}

.toolbarButton {
  cursor: pointer;
  margin: 4px 4px 4px 0px;
  padding: 4px;
  border-radius: 4px;
}

.toolbarButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.toolbarButton:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.toolbarButtonActive {
  composes: toolbarButton;
  background-color: rgba(0, 0, 0, 0.2);
}
