.container {
  position: sticky;
  top: 0;
  background-color: var(--color-background);
  z-index: 1;
}

.nav {
  display: none;
}

.mobileNav {
  display: initial;
  position: absolute;
  background-color: var(--color-background);
  width: 100vw;
}

.shadow:after {
  content: '';
  position: absolute;
  height: 100%;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;
}

.nav a,
.mobileNav a {
  text-decoration: none;
  color: var(--color-secondary);
}

.linkButton {
  font-size: 14px;
  font-weight: 600;
  font-family: Avenir Next, Avenir, Geneva, sans-serif;
  letter-spacing: 0.2px;
  transition: 0.25s;
  padding: 4px 0;
}

.linkButton:visited {
  text-decoration: none;
  color: inherit;
}

.linkButton:hover {
  color: var(--color-nav);
  box-shadow: 0px 1px 0 0 var(--color-nav);
}

.userButton {
  cursor: pointer;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid var(--color-feature-dark);
  display: flex;
  justify-content: center;
  transition: 0.25s;
}

.userButton:hover {
  background: var(--color-icon-light);
  border: 1px solid var(--color-nav);
}

.userButtonImage {
  height: 24px;
  width: 24px;
}

@media only screen and (min-width: 768px) {
  .mobileMenu {
    display: none;
  }

  .container {
    position: static;
    height: 64px;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }
}
