.button {
  background: none;
  border: none;
  font-family: Avenir Next, Avenir, Geneva, sans-serif;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 16px;
  cursor: pointer;
  transition: 0.25s;
  margin-left: 12px;
}

.button:first-of-type {
  margin-left: 0;
}

.default {
  composes: button;
  border: 3px solid var(--color-light-secondary);
  color: var(--color-light-secondary);
}

.default:hover {
  background: var(--color-light-secondary);
  color: white;
}

.destructive {
  composes: button;
  border: 3px solid var(--color-light-warn);
  color: var(--color-light-warn);
}

.destructive:hover {
  background: var(--color-light-warn);
  color: white;
}

.action {
  composes: button;
  border: 3px solid var(--color-light-primary);
  color: var(--color-light-primary);
}

.action:hover {
  background: var(--color-light-primary);
  color: white;
}

.borderless {
  composes: button;
  color: #2f70fb;
  font-weight: 600;
  border: none;
}

.borderless:hover {
  color: #6998ff;
}

.icon {
  composes: default;
  border-width: 2px;
  padding: 2px 8px;
}
