.button {
  background: none;
  border: none;
  font-family: Avenir Next, Avenir, Geneva, sans-serif;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 16px;
  cursor:  pointer;
  transition: 0.25s;
  margin-left: 12px;
}

.button:first-of-type {
  margin-left: 0;
}


.default {
  composes: button;
  border: 3px solid #333;
  color: #333;
}

.default:hover {
  background: #333;
  color: white;
}

.destructive {
  composes: button;
  border: 3px solid #de5e4e;
  color: #de5e4e;
}

.destructive:hover {
  background: #de5e4e;
  color: white;
}

.action {
  composes: button;
  border: 3px solid #254688;
  color: #254688;
}

.action:hover {
  background: #254688;
  color: white;
}

.borderless {
  composes: button;
  color: #2f70fb;
  font-weight: 600;
  border: none;
}

.borderless:hover {
  color: #6998ff;
}

.icon {
  composes: default;
  border-width: 2px;
  padding: 2px 8px;
}