.button {
  background: none;
  border: none;
  font-family: Avenir Next, Avenir, Geneva, sans-serif;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 16px;
  cursor: pointer;
  transition: 0.25s;
  margin-left: 12px;
}

.button:first-of-type {
  margin-left: 0;
}

.default {
  composes: button;
  border: 3px solid var(--color-secondary);
  color: var(--color-secondary);
}

.default.solid {
  background-color: var(--color-secondary);
}

.default:hover {
  background-color: var(--color-secondary);
  color: var(--color-background);
}

.default.solid:hover {
  background-color: var(--color-background);
  color: var(--color-secondary);
}

.destructive {
  composes: button;
  border: 3px solid var(--color-warn);
  color: var(--color-warn);
}

.destructive.solid {
  background-color: var(--color-warn);
}

.destructive:hover {
  background-color: var(--color-warn);
  color: var(--color-background);
}

.destructive.solid:hover {
  background-color: var(--color-background);
  color: var(--color-warn);
}

.action {
  composes: button;
  border: 3px solid var(--color-primary-dark);
  color: var(--color-primary-dark);
}

.action.solid {
  background-color: var(--color-primary-dark);
  color: var(--color-font);
}

.action:hover {
  background: var(--color-primary-dark);
  color: var(--color-feature-light);
}

.action.solid:hover {
  background-color: var(--color-background);
  color: var(--color-font);
}

.borderless {
  composes: button;
  color: var(--color-primary);
  font-weight: 600;
  border: none;
}

.borderless:hover {
  color: var(--color-primary-light);
}

.icon {
  composes: default;
  border-width: 2px;
  padding: 2px 8px;
}

.solid {
  color: var(--color-background);
}
