.container {
  display: flex;
  flex-wrap: wrap;
}

.normalContainer {
  margin-left: calc(0px - var(--spacing-normal));
  margin-top: calc(0px - var(--spacing-normal));
}

.smallContainer {
  margin-left: calc(0px - var(--spacing-small));
  margin-top: calc(0px - var(--spacing-small));
}

.noneContainer {
  margin-left: var(--spacing-none);
  margin-top: var(--spacing-none);
}

.left {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}

.normalChild {
  margin-left: var(--spacing-normal);
  margin-top: var(--spacing-normal);
}

.smallChild {
  margin-left: var(--spacing-small);
  margin-top: var(--spacing-small);
}

.noneChild {
  margin-left: var(--spacing-none);
  margin-top: var(--spacing-none);
}

@media only screen and (min-width: 768px) {
  .desktop-normalContainer {
    margin-left: calc(0px - var(--spacing-normal));
    margin-top: calc(0px - var(--spacing-normal));
  }

  .desktop-smallContainer {
    margin-left: calc(0px - var(--spacing-small));
    margin-top: calc(0px - var(--spacing-small));
  }

  .desktop-noneContainer {
    margin-left: var(--spacing-none);
    margin-top: var(--spacing-none);
  }

  .desktop-normalChild {
    margin-left: var(--spacing-normal);
    margin-top: var(--spacing-normal);
  }

  .desktop-smallChild {
    margin-left: var(--spacing-small);
    margin-top: var(--spacing-small);
  }

  .desktop-noneChild {
    margin-left: var(--spacing-none);
    margin-top: var(--spacing-none);
  }
}
