.desktopCover {
  display: none;
}

.coverImageContainer {
  height: 170px;
  min-width: 108px;
  width: 108px;
  flex-grow: 0;
}

.coverImage {
  width: 108px;
  object-fit: cover;
}

.title {
  text-align: center;
}

.description {
  text-align: justify;
}

.reviewsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reviewBlock {
  max-height: 30vh;
  overflow: scroll;
  overflow-x: hidden;
  border: 3px solid black;
  border-radius: 5px;
}

.reviewBlock p strong {
  padding-right: 10px;
}

@media only screen and (min-width: 768px) {
  .mobileCover {
    display: none;
  }

  .desktopCover {
    display: inherit;
  }

  .coverImageContainer {
    max-height: 280px;
    min-width: 180px;
    flex-grow: 0;
  }
}
