.label {
  font-weight: 200;
  font-size: 16pt;
  margin-bottom: 2px;
}

.subLabel {
  font-weight: 200;
  color: var(--color-feature-font);
}

.branchSelectionContainer {
  padding: 24px 0;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding: 12px 0;
}

.newBranchButtonWrapper {
  margin: 12px;
}

.newBranchContainer {
  display: flex;
  flex-direction: column;
}
