.coverImage {
  position: relative;
  float: left;
  max-width: 100px;
  max-height: 100px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.genreDescription {
  max-width: 50vw;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 24px 0px;
}

.buttonContainer button {
  margin-left: 16px;
}
