.container {
  display: flex; 
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  width: fit-content;
  border-radius: 1px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.5);
  background-color: var(--color-secondary);
  color: var(--color-font-light);
}

.container > * {
  color: var(--color-font-light);
}

.dismissButtonContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0px -2px 0px 6px;
  border-radius: 50%;
  transition: 0.25s;
}

.dismissButtonContainer:hover {
  background-color: var(--color-feature-light);
  color: var(--color-font);
}

.dismissButton {
  height: 20px;
  width: 20px;
}