.readerContainer {
  height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

.readerTopContainer {
  height: 15vh;
}

.readerContentContainer {
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  min-width: 320px;
  position: relative;
}

.content {
  height: 100%;
  font-size: var(--text-size);
  font-family: var(--font-family);
  flex-grow: 1;
  margin: 0px 15px;
}

.overlay {
  /* TODO fix this so that it spreads just to its parent */
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.turnPageButton {
  width: 25%;
  /* TODO make these invisible */
  background: rgba(0, 0, 0, 0.33);
}

.readerBottomContainer {
  height: 10vh;
}
