.container {
  box-sizing: border-box;
  border-radius: 3px;
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  position: relative;
  min-height: 30px;
  width: 280px;
  margin: 8px;
  padding: 4px;
  right: -280px;
}

.infoContainer {
  composes: container;
  border: 3px solid var(--color-feature-dark);
  color: var(--color-secondary);
}

.errorContainer {
  composes: container;
  border: 3px solid var(--color-warn);
  color: var(--color-warn);
}

.icon {
  font-size: 1.5em;
  line-height: 1;
}

.content {
  margin-left: 4px;
  flex-grow: 1;
}
